body{
background-color:#9400D3;
}
h1{
color: black;
text-align: center;
font-size: 30%;
}
<<<<<<< HEAD
p{
color: black;
text-align: center;
font-size: 20%;

}
=======
p{
color: black;
text-align: center;
font-size: 20%;
}
>>>>>>> e1e0736ca9e57de97fded8bab1e1ac27eac2787b